@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,700';
body {
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
p {
	font-size:16px;
}
h1, h2, h3, h4, h5, h6, input {
	font-family: 'Montserrat', sans-serif;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color:#9C9000
}
.column {
	position:relative;
	float:left;
}
.column-full {
	width:100%;
}
.column-half {
	width:50%;
}
.txt-left {
	text-align:left
}
.txt-right {
	text-align:right
}
.txt-center {
	text-align:center
}
.clear {
	clear:both !important;
}
#landing-page {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.hero {
	margin-top:107px;
}
.hero-left-inner {
	position:relative;
	z-index:99
}
.logo img {
	width:148px;
}
.hero-left-inner .headline {
	font-size:46px;
	margin-top:15px;
	margin-bottom:15px;
}
.hero-left-inner p {
	font-family: 'Montserrat', sans-serif;
	line-height:28px
}
.gift-box {
	background: url(../img/gift-box-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing:border-box;
	margin:auto;
	width:486px;
	min-height:560px;
	padding:30px;
	float:right;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid rgba(70, 70, 70, 0.7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 54px 17px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 54px 17px rgba(0,0,0,0.49);
	box-shadow: 0px 0px 54px 17px rgba(0,0,0,0.49);
}
.gift-box-inner {
	text-align:center;
	padding-top:280px
}
.gift-box-intro-title {
	color:#33c7cd;
	font-weight:400;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1px;
}
.gift-box-title {
	font-size:30px;
	letter-spacing:1px;
	margin-top:-15px
}
.gift-box-form {
	position:relative;
	padding-top:5px
}
input[type="text"] {
	position: absolute;
	width: 69%;
	z-index: 2;
	padding:15px;
	box-sizing:border-box;
	color:#fff;
	height: 60px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border:none;
	background-color:rgba(255,255,255,0.4);
	outline: none;
	-webkit-transition: background-color 0.3s; /* Safari */
	transition: background-color 0.3s;
}
input[type="text"]:focus {
	background-color:rgba(255,255,255,0.45);
}
input[type="submit"] {
	text-align:center;
	color:#fff;
	position: absolute;
	width: 32%;
	right: 0px;
	z-index: 3;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	height: 60px;
	background-color:#33c7cd;
	outline: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
input[type="submit"]:focus {
	background-color:#159ca1;
}
input[type="submit"]:hover {
	background-color:#159ca1;
}
/* FOOTER */
footer {
	position:relative;
	margin-top:55px;
}
.copyright p {
	font-size:12px;
	font-weight:300
}
@media (max-width:799px) {
.hero-left-inner {
	position: relative;
	padding-top: 0;
}
.hero {
	margin-top:30px;
}
.gift-box {
	width:100%;
	padding:20px;
	min-height:385px;
	margin-top:15px;
}
.gift-box-inner {
	text-align:center;
	padding-top:170px
}
.column-half {
	width:100%;
}
.hero-left-inner .headline {
	font-size: 24px;
}
.hero-left-inner p {
	font-size:14px;
	line-height:24px
}
.gift-box-title {
	font-size: 22px;
}
input[type="text"] {
 width: 61W%;
	padding: 8px;
	height: 40px;
	font-size:12px;
}
input[type="submit"] {
	width:40%;
	height: 40px;
	font-size:12px;
}
}
@media (min-width:800px) {
.container {
	width:760px
}
.gift-box {
	width:400px;
	min-height:440px;
}
.gift-box-inner {
	padding-top:160px
}
.hero-left-inner {
	padding-top:25px;
}
input[type="submit"] {
	font-size: 14px
}
.hero-left-inner .headline {
	font-size: 24px;
}
.hero-left-inner p {
	font-size:14px;
}
.hero-left-content {
	width:300px;
}
}
@media (min-width:1000px) {
.container {
	width:960px
}
.hero-left-content {
	width:400px;
}
.hero-left-inner .headline {
	font-size:32px;
}
.hero-left-inner p {
	font-size:16px;
}
.gift-box {
	width:486px;
	min-height:560px;
}
.gift-box-inner {
	padding-top:280px
}
.hero-left-inner {
	padding-top:100px;
}
}
@media (min-width:1230px) {
.hero-left-inner .headline {
	font-size:46px;
}
.container {
	width:1180px
}
.hero-left-content {
	width:530px;
}
.gift-box {
	width:486px;
}
input[type="submit"] {
	font-size: 16px
}
.hero-left-inner {
	padding-top:100px;
}
}